<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213422577251-opncmpig21ni8tbngk07vlls4e83okgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213422577251-opncmpig21ni8tbngk07vlls4e83okgv</string>
	<key>API_KEY</key>
	<string>AIzaSyB10msoo6pf_6Rtn92l2dt-4gHaDom0xac</string>
	<key>GCM_SENDER_ID</key>
	<string>213422577251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosdevremi.SakeShackClone</string>
	<key>PROJECT_ID</key>
	<string>shakeshackclone</string>
	<key>STORAGE_BUCKET</key>
	<string>shakeshackclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213422577251:ios:5e0d6d163ec31ce2b24a56</string>
	<key>DATABASE_URL</key>
	<string>https://shakeshackclone.firebaseio.com</string>
</dict>
</plist>